.title{
    color: rgba(61, 58, 66, 0.881);
    font-variant: small-caps;
    font-weight: 800;
    font-size: 28px;
    padding: 20px;
    display: block;
    
}
.subtitulo1{
    color: rgba(0, 0, 0, 0.805);
    display: block;
    
}
.titulooferta{
    color: rgba(255, 255, 255, 0.934);
}
.subtituloind{
    color: rgb(228, 228, 210);
    display: flex;
    margin: 10px;
    font-size: 33px;
}
.subsubtituloind{
    color: rgb(228, 228, 210);
    display: flex;
    font-size: 28px;
    
}
.subtitulo{
    color: rgba(0, 0, 0, 0.805);
    font-size: 25px;
    display: flex;
    align-items: center;
  }

.subsubtitulo{
  font-size: larger;
  color: rgba(61, 58, 66, 0.881);
  font-weight: 800;
  margin: 10px;
}