@import url('https://fonts.googleapis.com/css2?family=Lato:ital@1&display=swap');
@import "imagenes";
@import "mediaquery";
@import "titulos";
@import "footer";
@import "redes";
@import "texto";
@import "botons";


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.bg{
background-color: rgb(154, 154, 155);
}
.contenedorpago{
    max-width: 1000px;
    margin: 0 auto;
}
 